<% if can? :edit, Roxiware::Layout::WidgetInstance %>
   <ul id="widget_context_menu" class="context_menu">
     <li id="widget_settings"><a menu_item="widget_settings" class="settings_link">Widget Settings</a></li>
     <% if can? :delete, Roxiware::Layout::WidgetInstance %>
        <li id="delete_widget"><a menu_item="widget_delete" class="widget_instance_delete">Delete Widget</a></li>
     <% end %>
   </ul>
<% end %>
<% if can? :edit, Roxiware::Layout::LayoutSection %>
   <ul id="section_context_menu" class="context_menu">
         <li id="section_settings"><a id="section_settings" menu_item="section_settings" class="settings_link">Section Settings</a></li>
     </ul>
<% end %>
<% if can? :edit, @page_layout %>
   <ul id="page_context_menu" class="context_menu">
       <li id="page_settings"><a id="page_settings" menu_item="page_settings" class="settings_link">Page Settings</a></li>
    </ul>
<% end %>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '<%= AppConfig.facebook_app_id %>',                        // App ID from the app dashboard
      channelUrl : '//<%= request.host_with_port %>/channel.html',    // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
    fbApiInit = true; //init flag
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<%= render :partial=>"roxiware/shared/admin_top_bar" %>
<%= render :partial=>"roxiware/shared/widget_bar" %>
