<div class="feed_buttons">
<a href="http://fusion.google.com/add?feedurl=AppConfig::feedburner_url"><img src="http://buttons.googlesyndication.com/fusion/add.gif" width="104" height="17" style="border:0" alt="Add to Google Reader or Homepage"/></a>

<a href="http://add.my.yahoo.com/rss?url=<%= AppConfig::feedburner_url %>" title="<%= AppConfig::title %>"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif" alt="" style="border:0"/></a>

<a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=AppConfig::feedburner_url" title="Roxanne Skelly&amp;#039;s Pen"><img src="http://www.newsgator.com/images/ngsub1.gif" alt="Subscribe in NewsGator Online" style="border:0"/></a>

<a href="http://www.bloglines.com/sub/AppConfig::feedburner_url" title="Roxanne Skelly&amp;#039;s Pen" type="application/rss+xml"><img src="http://www.bloglines.com/images/sub_modern11.gif" alt="Subscribe in Bloglines" style="border:0"/></a>

<a href="http://www.netvibes.com/subscribe.php?url=AppConfig::feedburner_url"><img src="http://www.netvibes.com/img/add2netvibes.gif" width="91" height="17" alt="Add to netvibes" style="border:0" /></a>

<a href="<%= AppConfig::feedburner_url %>" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="&nbsp;RSS" style="vertical-align:top;border:0"/>&nbsp;Suscribe via RSS</a>
</div>
