   <% if can? :edit, Roxiware::Layout::Layout %>
   <%= render :partial=>"roxiware/shared/context_menus" %>
   <% end %>
  <script>
   <% if can? :edit, Roxiware::Layout::Layout %>
  $(".widget").context_menu($("#widget_context_menu"));
   <% end %>
  $(document).bind("ready", function() {
     $("BUTTON").button();
   <%  if (can? :move, Roxiware::Layout::WidgetInstance) %>
     $(".widget, .new_widget").draggable({
        cursor: "move",
        helper: function() { 
           console.log(this);
           var drag_box = $("<div class='widget_drag_box' id='"+$(this).attr("id")+"' section='"+$(this).attr("section")+"' order='"+$(this).attr("order")+"'></div>");
           console.log(drag_box);
           drag_box.width($(this).width());
           drag_box.height($(this).height());
           return drag_box;
        },
        delay: "300", 
        zIndex:10000,
        opacity:0.95,
        appendTo:"body",
        start:function() {
            $(this).addClass("widget_dragging");
            $(".widget_drop_target").addClass("widget_drop_target_active");
        },
        stop:function() {
            $(this).removeClass("widget_dragging");
            $(this).css("top", 0).css("left", 0);
            $(".widget_drop_target").removeClass("widget_drop_target_active");
     }});
     $(".widget_drop_target div").droppable({accept:".widget, .new_widget",
                                         hoverClass:"widget_drop_target_hover",
                                         tolerance: "pointer",
                                         drop: function(event, ui) {
                                            console.log("dropped");
                                            console.log($(ui.draggable));
                                            console.log($(this));
                                            var drop_target = this;
                                            var target_section = $(this).attr("section");
                                            var target_order = $(this).attr("order");
                                            var source_widget = $(ui.draggable).attr("widget_id");
                                            if (source_widget == "new") {
                                              var guid = $(ui.draggable).attr("guid");
					      var endpoint = $(this).parent().parent().attr("rel") + "/widget/";
					      $.ajax({url: endpoint, 
						      type: "POST",
						      dataType: "json",
						      data: jQuery.param({section_order:target_order, widget_guid:guid}),
						      success: function(json_data, textStatus, jqXHR) {
                                                         window.location.reload();
                                                    }});
                                            }
                                            else {
					      var source_section = $(ui.draggable).attr("section");
					      if((source_section == target_section) && (target_order == $(ui.draggable).attr("order"))) {
						 return;
					      }
					      var endpoint = $(this).parent().parent().attr("rel") + "/widget/" + source_widget + "/move";
					      $.ajax({url: endpoint, 
						      type: "PUT",
						      dataType: "json",
						      data: jQuery.param({target_section: target_section, target_order:target_order}),
						      success: function(json_data, textStatus, jqXHR) {
							 $(drop_target).parent().before($(ui.draggable).prev());
							 $(drop_target).parent().before($(ui.draggable));
							 $.each(json_data, function(index, widget) {
							   $(".widget#widget-"+index).attr("section", widget.section).attr("order", widget.position);
							   $(".widget_drop_target div#widget-"+index).attr("section", widget.section).attr("order", widget.position);
							 });
                                                    }});
                                             }
                                         }});
   <% end %>
     var bottom_pos = 0;
     $("#left_bar:last-child, #center_bar:last-child, #right_bar:last-child").each(function(index, elem){
        bottom_pos = Math.max(bottom_pos, $(elem).position() + $(elem).height());
     });
      $(".settings_link").click(function() {
         settingsForm($(this).attr("rel"));
     });
  });

  $("[title]").tooltip({
        predelay:1000,
        position: "top right",
        offset: [10, -20]
   });
   $(".button_link").click(function() {
      window.open($(this).attr("rel"), $(this).attr("target"));
   });

  </script>
  <!--[if IE]> 
  <script>
  /* IE bug where clicks on contained elements don't set container to 'active' */
  $(document).bind("ready", function() {
     $(".button_box").bind("mousedown", function() {
	$(this).addClass("button_box_pressed");
     });
     $(".button_box").bind("mouseleave", function() {
	$(this).removeClass("button_box_pressed");
     });
     $(".button_box").bind("mouseup", function() {
	$(this).removeClass("button_box_pressed");
     });
  });
  </script>
  <![endif]-->
