<div class="layout_edit_controls">
  <%= button_tag "Edit Layout", :rel=>"/layout/#{@current_layout.guid}", :id=>"edit-layout", :class=>"overlay_form layout_edit button_edit", :type=>"button"  %>
  <%= button_tag "Edit Layout Page", :rel=>"/layout/#{@current_layout.guid}/page/"+url_encode("#{@page_layout.controller}\##{@page_layout.action}"), :id=>"edit-layout-page", :class=>"overlay_form layout_page_edit button_edit", :type=>"button"  %>
</div>
