<div class="share_bar">
<div class="facebook_like"><div class="fb-like" data-href="<%= share_link %>" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div></div>
<!-- Place this tag where you want the share button to render. -->
<div class="google_share"><div class="g-plus" data-action="share" data-annotation="bubble"></div></div>
<div class="twitter_share"><a href="https://twitter.com/share" class="twitter-share-button" data-size="10"  data-url="<%= share_link %>" style="display:inline-block">Tweet</a></div>
</div>
