<%  if (can? :create, Roxiware::Layout::WidgetInstance) %>
   <div class="new_widget_bar">
      <% Roxiware::Layout::Widget.all.each do |widget|%>
	 <div class="new_widget" widget_id="new" id="widget-new" title="<%= widget.description%>" guid="<%= widget.guid %>">
	 <div><%= widget.name %></div>
	 </div>
      <% end %>
   </div>
<% end %>
