
<% if can? :edit, Roxiware::Layout::WidgetInstance %>
   <ul id="widget_context_menu" class="context_menu">
        <li id="section_settings"><a href="#" menu_item="section_settings" class="overlay_form">Section Settings</a></li>
	<hr/>
     <li id="widget_settings"><a href="#" menu_item="widget_settings" class="overlay_form">Widget Settings</a></li>
     <% if can? :delete, Roxiware::Layout::WidgetInstance %>
        <li id="delete_widget"><a href="#" menu_item="widget_delete" class="widget_instance_delete">Delete Widget</a></li>
     <% end %>
   </ul>;
  <script>
    $(document).bind("ready", function() {
       $(".widget").on("context_menu", function(event, menu_item) {
          console.log("Widget context menu trigger hit");
	  var layout_section = $(this).attr("section");
	  var widget_instance = $(this).attr("id").split("-")[1];
	  var section_link ="<%= "/layout/#{@current_layout.guid}/page/"+url_encode("#{@page_layout.controller}\##{@page_layout.action}")+"/section/"%>"+layout_section;
	  var widget_link = section_link + "/widget/" + widget_instance;

          switch (menu_item) {
            case "section_settings": overlayForm(section_link); break;
            case "widget_settings": overlayForm(widget_link); break;
            case "widget_delete" :
                if (!confirm("Delete Widget\nAre you sure?")) {
                   return;
                 }
                 $.ajax({url:widget_link,
                     type:"DELETE",
                     dataType: "json",
                     success: function(json_data, textStatus, jqXHR) {
                        window.location.reload();
                     }
                 });               
                 break;
            }
         });
       $(".widget").context_menu($("#widget_context_menu"));
    });
  </script>
<% end %>
