<div class="manage_widget_menu manage_menu" id="widget_menu_<%= widget_instance.id %>"><ul>
   <li><div class="manage_button">&nbsp;</div><ul>
      <li class="edit_widget"><a>Settings</a></li>
      <li class="delete_widget"><a>Delete</a></li>
  </ul></li></ul>
</div>
