<div class="widget_edit_controls">
  <%= button_tag "Edit Widget", :rel=>"/widget/#{@current_widget.guid}", :id=>"edit-widget", :class=>"overlay_form widget_edit button_edit", :type=>"button"  %>
  <div class="widget_delete">x</div>
</div>
