<nav class="service_directory">
  <% @services.each do |service|
    if current_page?(:action=>"show_seo", :seo_index=>service.seo_index) %>
       <div class="service_directory_entry span-3 button_box button_box_selected">
          <%= service.name %>
       </div>
    <% else %>
         <%= link_to( service.name, { :action => "show_seo", :seo_index => service.seo_index}, :class=>"service_directory_entry span-3 button_box") %>
    <% end %>
  <% end %>
  <% if (can? :create, Roxiware::Service) %>
    <div rel="#service_edit_overlay" id="edit-service-new" class="add_button">&nbsp;</div>
  <% end %>
</nav>
