<div id="choose_template_form", class="large_form">
    <%= render :partial=>"roxiware/templates/picker" , :locals=>{:selected_scheme=>@layout_scheme, :selected_template=>@current_layout.guid} %>
</div>
<script>
$(function() {
    $("div#template_popup button#save_template").click(function() {
	 $.ajax({type:"PUT",
		  url: "<%= layout_index_path %>.json",
		  data: {template_guid:$("div#template_popup_form").attr("template_guid"),
                         template_scheme:$("div#template_popup_form").attr("template_scheme") },
		  error: function(xhr, textStatus, errorThrown) {
		     $.alert(textStatus);
		  },
		  complete: function() {
		  },
		  success: function() {
		     window.location.reload();
		  }}); 

    });
});
</script>
