<div id="choose_template_form" class="huge_form">
    <%= render :partial=>"roxiware/templates/picker" , :locals=>{:selected_scheme=>selected_scheme, :selected_template=>selected_template, :show_install=>true, :preview_server=>"/"} %>
</div>
<script>
$(function() {
    $("button#install_template").click(function() {
	 $.ajax({type:"PUT",
		  url: "<%= setting_path('system') %>.json",
		  data: jQuery.param({system: {current_template:$("#template_info").attr("template_guid"),
                                               layout_scheme:$("#template_info").attr("selected_scheme") }}),
		  error: function(xhr, textStatus, errorThrown) {
		     $.alert(textStatus);
		  },
		  complete: function() {
		  },
		  success: function() {
		     window.location.reload();
		  }}); 

    });
});
</script>
