<% if @board.id.present?
       endpoint = forum_path(@board.id)
       method = "PUT"
   else
       endpoint = forum_index_path
       method = "POST"
   end
%>
<div id="board_edit_form" class="small_form">
   <%= form_for(@board, :url=>endpoint+".json") do |board| 
      content_tag(:div, board.label(:name) + board.text_field(:name, :watermark=>"Name"), :id=>"board_name_entry") +
      content_tag(:div, board.label(:permissions) + board.select(:permissions, Roxiware::Forum::Board::ALLOWED_TOPIC_PERMISSIONS), :id=>"topic_permissions_entry") +
      board.text_area(:description, :class=>"board_description") +
      button_tag("Save", :id=>"save_button", :value=>"save", :type=>"button", :class=>"save_button")
   end %>
</div>
<script>
$(function() {
      $("#board_edit_form button#save_button").click(function() {
	 $("form input.watermark").val("");
         $.ajaxSetParamsJSON("<%= endpoint %>.json", $("#board_edit_form form").serializeArray(), {method: "<%=method %>", form:$("#board_edit_form form"), success:function(data) {
             window.location = "/forum/"+data.seo_index;
         }});
    });
});
</script>
