<style>
   .person_edit_form
   {
      margin:0em;
      height:33em;
      width:50em;
   }

   .person_edit_form div.panes > div 
   {
       height:28em;
       padding:0em;
   }
   .person_edit_form div.pane_padding {
       padding:1em;
   }

   .person_edit_form label
   {
       width:6em;
   }

   .person_edit_form div#left_section
   {
      display:inline-block;
      vertical-align:top;
   }

   .person_edit_form div#right_section
   {
      float:right;
      width:200px;
      display:inline-block;
      vertical-align:top;
   }

    .person_edit_form .upload_target
    {
       float:right;
       min-width:100px;
       min-height:100px;
       cursor: pointer;
    }

   .person_edit_form input[type=text]#person_role, 
   .person_edit_form input[type=text]#person_email,
   .person_edit_form input[type=text]#person_website
   {
      margin:0em;
      width:30em;
   }

   .person_edit_form input[type=text]#person_twitter,
   .person_edit_form input[type=text]#person_facebook,
   .person_edit_form input[type=text]#person_google
   {
       width:24em;
   }

   .person_edit_form input[type=text]#person_first_name, 
   .person_edit_form input[type=text]#person_middle_name
   .person_edit_form input[type=text]#person_last_name
   {
	width:10em;
   }

   .person_edit_form iframe.wysiwyg_iframe
   {
         height:13em;
   }

   .person_edit_form textarea#person_bio
   {
      clear:both;
      height:13em;
      width:100%;
      margin:0em;
      margin-top:2em;
   }
</style>
<div class="person_edit_form">
   <%= form_for @person do |person| %>
      <%= render :partial=>'roxiware/people/edit_person', :locals=>{:person_form=>person, :person=>@person} %>
      <%= button_tag "Save", :id=>"save", :value=>"save", :type=>"submit", :class=>"save_button" %></div>
   <% end %>
</div>
