<div id="biography_edit_form" class="large_form">
   <%= form_for @person do |person| %>
      <%= render :partial=>'roxiware/people/edit_person', :locals=>{:person_form=>person, :person=>@person} %>
      <%= button_tag "Save", :id=>"save", :value=>"save", :type=>"submit", :class=>"save_button" %></div>
   <% end %>
</div>
