<div class="tab_form">
  <ul class="tabs">
    <li><a>Edit</a></li>
    <li><a>Social Networks</a></li>
  </ul>
  <div class="panes">
    <div id="details_pane">
	<%= render :partial=>"roxiware/people/edit_biography", :locals=>{:person=>person, :person_form=>person_form} %>
    </div>
    <%= render :partial=>"roxiware/people/edit_social_networks", :locals=>{:person=>person, :person_form=>person_form} %>
  </div>
</div>
<script>
 $(function() {
     $("#biography_edit_form ul.tabs").tabs($("#biography_edit_form div.panes > div"));
     $("input[watermark]").watermark();
 });
</script>
