<div id="biography_edit_form" class="huge_form">
   <%= form_for @person do |person| %>
      <%= render :partial=>'roxiware/people/edit_biography', :locals=>{:person_form=>person, :person=>@person, :edit_biography_title=>"Edit Profile"} %>
   <% end %>
</div>
<script>
$(function() {
    $("#biography").focus();
    console.log("editform");
    $("#biography_edit_form button#save_biography").click(function(e) {
        e.preventDefault();
        <% if @person.id.present? %>
            var endpoint = "<%= person_path(@person.id) %>.json";
            var method = "PUT";
        <% else %>
            var endpoint = "<%= people_path %>.json";
            var method="POST";
        <% end %>
        $("form input.watermark").val("");
        var biography_data = $("#biography input").serializeArray();
        biography_data.push({name:"person[bio]", value:$("#person_bio").html()});
        console.log("pushing biography");
        console.log(biography_data);
        $.ajaxSetParamsJSON(endpoint, biography_data, {
            form:$("#biography_edit_form form"),
            method:method,
            success:function() {
                window.location.reload();
            }
        });
    });
});
</script>
