<% if can? :create, Roxiware::Blog::Post %>
    <ul id="blog_index_application_menu" class="application_menu"><li><a rel="<%= new_blog_post_path %>" form="New Post">New Post</a></li></ul>

    <ul id="posts_context_menu" class="context_menu">
       <li id="new_post"><a menu_item="new_post">New Post</a></li>
    </ul>
<% end %>

