<%= form_for @page, :method=>:put, :url=>page_path(@page.page_identifier) do |page| %> 
  <div class="large_form" id="page_edit_form">
      <%= page.hidden_field :page_type %>
      <div class="content_pos"><div class="settings_wysiwyg"><%= page.text_area :content, :class=>"settings_wysiwyg" %></div></div>
      <%= button_tag "Save", :id=>"save", :value=>"save", :type=>"submit", :class=>"save_button" %></div>
  </div>
<% end %>

