<div class="span-1">&nbsp;</div>
<section class="page_content">
  <% if (can? :edit, @page) %>
    <%= button_tag "Edit", :id=>"edit-#{@page.page_type}", :class=>"page_edit button_edit", :type=>"button" %>
    <br/>
  <% end %>
  <%= raw @page.content %>
</section>


