<div class="small_form" id="events_settings_edit">
   <% general_params = @settings.values_at("enable_events").compact %>
   <%= form_tag(setting_path("events"), :method=>"put") do %>
       <%= fields_for :events do |events_fields| %>
	  <ul class="tabs">
	      <% if general_params.present? %><li><a>General</a></li><% end %>
	  </ul>
          <div class="panes">
	      <% if general_params.present? %>
		<div>
		   <%= param_fields(events_fields, general_params) %>
		</div>
              <% end %>
          </div>
      <% end %>
      <%= button_tag "Save", :id=>"save_button", :type=>"submit", :class=>"save_button" %>
   <% end %>
</div>

<script>
$(function() {
    $("#events_settings_edit ul.tabs").tabs($("div.panes > div"))
});
</script>
