<style>

#events_settings_edit {
  height:26em;
}

#events_settings_edit .panes > div
{
  width: 30em;
  height:26em;
  padding:1em;
}


#events_settings_edit label
{
  width: 12em;
  font-size:0.7em;
  text-align:left;
}

#events_settings_edit input {
  width:25em;
}


#events_settings_edit .panes
{
 color:#000;
}


#events_settings_edit .settings_pane
{
  padding:0px;
  margin:0px;
}

#events_settings_edit textarea.settings_description
{
  width:100%;
  height:10em;
  padding:0px;
  margin:0px;
}

</style>

<div class="settings_edit" id="events_settings_edit">
   <% general_params = @settings.values_at("enable_eventss").compact %>
   <%= form_tag(setting_path("eventss"), :method=>"put") do %>
       <%= fields_for :events do |events_fields| %>
	  <ul class="tabs">
	      <% if general_params.present? %><li><a>General</a></li><% end %>
	  </ul>
          <div class="panes">
	      <% if general_params.present? %>
		<div>
		   <%= param_fields(events_fields, general_params) %>
		</div>
              <% end %>
          </div>
      <% end %>
      <%= button_tag "Save", :id=>"save_button", :type=>"submit", :class=>"save_button" %>
   <% end %>
</div>

<script>
$(function() {
    $("#events_settings_edit ul.tabs").tabs($("div.panes > div"))
});
</script>
