<div class="small_form settings_edit" id="gallery_settings_edit">
   <% general_params = @settings.values_at("enable_gallery", "galleries_per_row", "gallery_rows_per_page", "gallery_items_per_row").compact %>
   <%= form_tag(setting_path("gallerys"), :method=>"put") do %>
       <%= fields_for :gallery do |gallery_fields| %>
	  <ul class="tabs">
	      <% if general_params.present? %><li><a>General</a></li><% end %>
	  </ul>
          <div class="panes">
	      <% if general_params.present? %>
		<div>
		   <%= param_fields(gallery_fields, general_params) %>
		</div>
              <% end %>
          </div>
      <% end %>
      <%= button_tag "Save", :id=>"save_button", :type=>"submit", :class=>"save_button" %>
   <% end %>
</div>

<script>
$(function() {
    $("#gallery_settings_edit ul.tabs").tabs($("div.panes > div"))
});
</script>
