<nav class="service_directory">
  <% @services.each do |service|
   if ((params[:controller] == "roxiware/services") && (params[:action]=="show_seo") && (params[:seo_index] == service.seo_index )) %>
       <div class="service_directory_entry span-3 button_box button_box_selected">
          <%= service.name %>
       </div>
    <% else %>
         <%= link_to( { :action => "show_seo", :seo_index => service.seo_index}) do %>
           <div class="service_directory_entry span-3 button_box">
             <%= service.name %>
           </div>
	 <% end %>
    <% end %>
  <% end %>
  <% if (can? :create, Roxiware::Service) %>
    <div rel="#service_edit_overlay" id="edit-service-new" class="button_box">Create New Service</div>
  <% end %>
</nav>
