<?xml version="1.0" encoding="UTF-8"?>
<widgets>
  <widget version="1.0" guid="53A77ACC-5261-49F3-A959-9FB434F43768">
    <name>Events</name>
    <description>
      <![CDATA[Show events]]>
    </description>
    <editform>
      <![CDATA[]]>
    </editform>
    <preload>
      <![CDATA[ time_check = Time.now.utc.midnight - 2.days
        locals[:events] = Roxiware::Event.order("start ASC").select{|event| event.end_time > time_check}
Roxiware::Event.where("start >= :start_date", :start_date=>Time.now.utc.midnight).order("start ASC").limit(locals[:events_count])
       locals[:events].present?]]>
    </preload>
    <render_view>
      <![CDATA[
<% if events.present? %>
<nav class="events_widget">
  <%= link_to("", events_path, :class=>"events_widget_title") %>
  <%= event_item = events.collect do |event| 
      # generate the date range string
      show_date = event.start.strftime(@event_date_format || "")
      end_time = event.end_time

      if ((event.start.day != end_time.day) || (event.start.month != end_time.month) || (event.start.year != end_time.year))
          show_date += " - " + end_time.strftime(@event_date_format || "")
      end
      result = raw("")
      result = content_tag(:div, event.start.strftime("%l:%M %p"), :class=>"event_start_time") if (event.duration_units != "days") || (event.start_time != "12:00 AM")
      result += content_tag(:div, raw(show_date), :class=>"event_date_range")
      result = content_tag(:div, result, :class=>"event_time") + content_tag(:div, event.title, :class=>"event_title")
      location_str = content_tag(:div, event.location, :class=>"event_location")
      location_str += content_tag(:div, event.city, :class=>"event_city")  unless event.city.blank?
      location_str += content_tag(:div, event.state, :class=>"event_state")  unless event.state.blank?
      result += content_tag(:div, location_str, :class=>"event_full_location") 
      link_to(result, events_path, :anchor=>"event-#{ event.id }", :id=> "event-#{event.id}", :class=>"event_widget_event")
  end.join("")
  puts event_item
  raw(event_item) %>
  <%= link_to("", events_path, :class=>"events_widget_all_events") %>
</nav>
<% end %>      ]]>
    </render_view>
    <style>
      <![CDATA[]]>
    </style>
    <params>
      <param class="local" description="CE9A31B2-4AC7-4C78-82DB-BDC44F3D8D70" name="widget_instance_id"></param>
      <param class="local" description="66966744-BA68-41C6-AC2C-B7B3F2EDE21F" name="show_background">true</param>
      <param class="local" description="6CD4546A-E350-46AC-BAF5-A788047DCD08" name="events_count">3</param>
    </params>
  </widget>
</widgets>
