<ul id="event_context_menu" class="context_menu">
   <li id="edit_event"><a menu_item="edit_event"><span aria-hidden="true" class="icon-quill"></span>&nbsp;Edit Event</a></li>
   <li id="delete_event"><a menu_item="delete_event"><span aria-hidden="true" class="icon-none">x</span>&nbsp;Delete Event</a></li>
</ul>

<script>
  $(document).bind("ready", function() {
    $("div.event").context_menu("#event_context_menu");

    $("div.event").on("context_menu", function(event, menu_item) {
       var event_link=$(this).attr("rel");
       switch (menu_item) {
	  case "edit_event":
	    settingsForm(event_link+"/edit", "Edit Event");
	    break;
          case "delete_event":
            if(confirm("Remove Event\nAre you sure?")) {
              $.ajax({url:event_link, 
                      type:"DELETE",
                      dataType: "json", 
                      success: function(json_data, textStatus, jqXHR) {
                         window.location = "<%= events_path %>";
                      }
               });
              }
              break;
        }
    });
});
</script>
