
<section class="account_login">
<h2>Log In</h2>
<div id="form_section">
</div>
</section>
<script>
$(function() {
    loginForm('<%= Roxiware::AuthHelpers::AuthState.new().get_state%>');
});
</script>
