
<section class="account_login">
<h2>Log In</h2>
<div id="form_section">
<div>
<%= render :partial=>"roxiware/shared/login" %>
</section>
<script>
$(function() {
    $("#form_section").append(get_login_form());
});
</script>
