<% unless @recent_posts.blank? %>
  <nav class="widget recent_post">
    <div class="recent_post_title">Recent Posts</div>
    <% @recent_posts.each do |post| %>
       <div class="recent_post_entry"><%= link_to post.post_title, post.post_link %></div>
    <% end %>
  </nav>
<% end %>
