<% if @book.present? %>
  <section>
     <%= render :partial=>"roxiware/books/book", :locals=>{:book=>@book, :book_image_url=>@book.large_image_url, :book_description_length=>0} %>
  </section>
<% end %>
<% if can? :edit, @book %>
    <%= render :partial=>"roxiware/books/context_menus" %>
    <ul id="book_show_application_menu" class="application_menu"><li><span aria-hidden="true" class="icon-book"></span>&nbsp;Book<ul>
    <li><a rel="<%= edit_book_path(@book.id)%>" form="Edit Book"><span aria-hidden="true" class="icon-quill"></span>&nbsp;Edit</a></li>
    <li><a id="delete_book_app_menu" ><span aria-hidden="true" class="icon-none"></span>&nbsp;Delete</a></li>
   </ul></li></ul>
    <div class="help_bar_entry">Left-click to manage the book.</div>
<% end %>
<script>
$(function() {
   $("#delete_series_app_menu").click(function() {
       $(".book_listing").trigger("context_menu", "delete_book");
   });
});
</script>
