<% if @book.present? %>
  <section>
     <%= render :partial=>"roxiware/books/book", :locals=>{:book=>@book, :book_image_url=>@book.large_image_url} %>
  </section>
<% end %>
<% if can? :edit, @book %>
    <div class="help_bar_entry">Left-click to manage the book.</div>
    <%= render :partial=>"roxiware/books/context_menus" %>
<% end %>
