<% if @book.present? %>
  <section>
     <%= render :partial=>"roxiware/books/book", :locals=>{:book=>@book, :book_image_url=>@book.large_image_url, :book_description_length=>0} %>
  </section>
<% end %>
<% if can? :edit, @book %>
    <%= render :partial=>"roxiware/books/context_menus" %>
<%= content_tag(:ul, :id=>"book_edit_application_menu", :class=>"application_menu") do
    content_tag(:li) do
        content_tag(:a, :rel=> edit_book_path(@book.id), :form=>"Edit Book") do
            content_tag(:span, "", "aria-hidden"=>"true", :class=>"menu-icon icon-pencil")+content_tag(:span, "Edit Book", :class=>"top_menu_text")
        end
    end +
    content_tag(:li) do
        content_tag(:a, :id=>"delete_book_app_menu") do
            content_tag(:span, "", "aria-hidden"=>"true", :class=>"menu-icon icon-remove-2")+content_tag(:span, "Delete Book", :class=>"top_menu_text")
        end
    end 
end %>
    <div class="help_bar_entry">Left-click to manage the book.</div>
<% end %>
<script>
$(function() {
   $("#delete_book_app_menu").click(function() {
       $(".book_listing").trigger("context_menu", "delete_book");
   });
});
</script>
