<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Password Reset Instructions</title>
<%= render :partial=>"roxiware/shared/mailer_head" %>
</head>
<body>
<div id="mailer_content">
<h1>Password Reset Instructions </h1>

<p>Hello <%= @resource.person.full_name %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token, :host=>Roxiware::Param::Param.application_param_val("system", "hostname")) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
</div>
<%= render :partial=>"roxiware/shared/mailer_footer" %>
</body>
